button {
    padding: 3px;
}

.section-header {
    margin-bottom: 60px;
}

.grid-container {
    *zoom: 1;
}

.grid-container:after {
    content: '';
    display: table;
    clear: both;
}

.grid-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap: 2px; */
}

.look-img-trigger {
    background: #fff;
    z-index: 1;
    margin: 0;
    cursor: pointer;
    /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
}

.look-img-trigger figure,
.look-img-trigger img {
    height: 80%;
    object-fit: cover;
    object-position: top;
}

div.look {
    /* position: relative; */
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-top: 1px solid #ccc; */
    object-fit: cover;
    /* max-height: 50%; */
    -webkit-box-shadow: 0px 0px 2px 0px rgba(104, 104, 104, 0.55);
    box-shadow: 0px 0px 2px 0px rgba(104, 104, 104, 0.55);
}

.desc-container {
    width: 100%;
    /* border: 1px solid #ccc; */
}

.look-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 20px;
    color: #000;
}

.look-description h4 {
    margin: 0 0 20px 0;
    padding: 0;
}

.look-description ul {
    display: none;
    align-self: center;
    margin: 0 0 20px 0;
    padding: 0;
}

.look-description li {
    padding: 0 0 10px 0;
}

.outfit-img-container {
    width: 100%;
    /* max-height: 500px;*/
    z-index: 5;
}

.outfit-image {
    object-fit: cover;
}

.item_list {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: rgb(155, 165, 238);
    justify-content: space-evenly;
    transition: 0.35s linear;
    z-index: 10;
}

.item_list.open {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.item p {
    font-weight: bold;
    text-align: center;
}

div.tall_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 36%;
}

.tall_group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tall_group div:first-child {
    height: 44%;
    padding-bottom: 10px;
}

.tall_group div:first-child img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.tall_group div:nth-child(2) {
    height: 54%;
    width: auto;
}

.tall_group div:nth-child(2) img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    margin-bottom: 20px;
}

.short_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 26%;
}

.short_group div {
    height: 33%;
}

.short_group img {
    object-fit: cover;
    min-height: 84%;
}

.item-opts-container {
    display: none;
}

.item-opts-container.visible {
    color: #000;
    background: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    justify-self: flex-start;
    overflow-y: auto;
    z-index: 1;
}

.panel-header.sticky {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    height: 80px;
    background: #eee;
    z-index: 0;
    border-bottom: 1px solid #bfbfbf;
    margin: 0;
    padding: 12px 12px 0 12px;
}

.item-opt {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 20px;
}

.item-opt p {
    line-height: 1.4em;
    margin: 0 0 0 20px;
    padding: 0;
}

.item-opt img {
    max-width: 30%;
    height: 100%;
    padding-left: 20px;
}

@media screen and (min-width: 800px) {
    .section-header {
        display: block;
    }
    div.look {
        /* position: relative; */
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-top: 20px;
        /* object-fit: cover; */
        max-height: 500px;
    }
    .desc-container {
        width: 20%;
        padding: 20px;
    }
    .look-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }
    .look-description h2,
    .look-description ul {
        align-self: flex-start;
    }
    .look-description ul {
        display: block;
    }
    .outfit-img-container {
        width: 30%;
    }
    .outfit-image {
        /* object-fit: cover; */
        max-height: 100%;
        width: auto;
    }
    div.item_list {
        position: relative;
        display: flex;
        flex-direction: row;
        right: 0;
        width: 40%;
        background: #fff;
        justify-content: flex-start;
        transition: all 1s;
    }
    div.item_list.open {
        width: 30%;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    .item p {
        margin: 0;
        padding: 0;
    }
    div.tall_group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        margin-bottom: 8px;
    }
    .tall_group div {
        display: flex;
        flex-direction: column;
        /* background: rgb(168, 182, 168); */
    }
    .tall_group div:first-child {
        justify-content: flex-start;
        height: 40%;
        padding-bottom: 0;
    }
    .tall_group div:first-child img {
        cursor: pointer;
        object-fit: contain;
        max-height: 90%;
        width: auto;
    }
    .tall_group div:nth-child(2) {
        justify-content: flex-start;
        /* height: 60%; */
        width: auto;
        /* background: rgb(143, 158, 187); */
    }
    .tall_group div:nth-child(2) img {
        object-fit: contain;
        object-position: bottom;
        max-height: 88%;
    }
    .short_group {
        margin-bottom: 16px;
    }
    .item-opts-container {
        opacity: 0;
        transition: all 1s;
    }
    .item-opts-container.visible {
        width: 26%;
        opacity: 1;
        color: #000;
        background: #eee;
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        max-height: 500px;
        overflow-y: auto;
        z-index: 1;
    }
    .panel-header.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 60px;
        background: #eee;
        z-index: 0;
        border-bottom: 1px solid #bfbfbf;
        margin: 0;
        padding: 0 12px 0 12px;
    }
    /*.short_group img {
        object-fit: cover;
        min-height: 84%;
    } */
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}