button {
    padding: 3px;
}

.section-header {
    margin-bottom: 60px;
}

.grid-container {
    *zoom: 1;
}

.grid-container:after {
    content: '';
    display: table;
    clear: both;
}

.grid-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* gap: 2px; */
}

.look-img-trigger {
    background: #fff;
    z-index: 1;
    margin: 0;
    cursor: pointer;
    /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
}

.look-img-trigger figure,
.look-img-trigger img {
    height: 80%;
    object-fit: cover;
    object-position: top;
}

div.look {
    /* position: relative; */
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border-top: 1px solid #ccc; */
    object-fit: cover;
    /* max-height: 50%; */
    -webkit-box-shadow: 0px 0px 2px 0px rgba(104, 104, 104, 0.55);
    box-shadow: 0px 0px 2px 0px rgba(104, 104, 104, 0.55);
}

.desc-container {
    width: 100%;
    /* border: 1px solid #ccc; */
}

.look-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 20px;
    color: #000;
}

.look-description h4 {
    margin: 0 0 20px 0;
    padding: 0;
}

.look-description ul {
    display: none;
    align-self: center;
    margin: 0 0 20px 0;
    padding: 0;
}

.look-description li {
    padding: 0 0 10px 0;
}

.outfit-img-container {
    width: 100%;
    /* max-height: 500px;*/
}

.outfit-image {
    object-fit: cover;
}

div.item_list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: #fff;
    justify-content: space-evenly;
    transition: 0.35s linear;
}

div.item_list.shift {
    transform: translateX(-200px);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.item p {
    font-weight: bold;
    text-align: center;
}

div.tall_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 36%;
}

.tall_group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tall_group div:first-child {
    height: 44%;
    padding-bottom: 10px;
}

.tall_group div:first-child img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.tall_group div:nth-child(2) {
    height: 54%;
    width: auto;
}

.tall_group div:nth-child(2) img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    margin-bottom: 20px;
}

.short_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 26%;
}

.short_group div {
    height: 33%;
}

.short_group img {
    object-fit: cover;
    min-height: 84%;
}

.item-opts-container {
    color: #000;
    background: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    padding-left: 20px;
}

.item-opts-container .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: #eee;
    padding: 30px;
    margin: 0;
    z-index: 0;
}

.item-opt {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 20px;
}

.item-opt p {
    line-height: 1.4em;
    margin: 0 0 0 20px;
    padding: 0;
}

.item-opt img {
    max-width: 30%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    .section-header {
        display: block;
    }
    div.look {
        /* position: relative; */
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-top: 20px;
        /* object-fit: cover; */
        max-height: 500px;
    }
    .desc-container {
        max-width: 20%;
        padding: 20px;
    }
    .look-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }
    .look-description h2,
    .look-description ul {
        align-self: flex-start;
    }
    .look-description ul {
        display: block;
    }
    .outfit-img-container {
        max-width: 30%;
    }
    .outfit-image {
        /* object-fit: cover; */
        min-height: 100%;
        width: auto;
    }
    div.item_list {
        display: flex;
        flex-direction: row;
        max-width: 40%;
        background: #fff;
        justify-content: space-evenly;
    }
    div.item_list.shift {
        transform: translateX(-200px);
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    div.tall_group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 36%;
    }
    /* .tall_group div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tall_group div:first-child {
        height: 44%;
        padding-bottom: 10px;
    }
    .tall_group div:first-child img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
    .tall_group div:nth-child(2) {
        height: 54%;
        width: auto;
    }
    .tall_group div:nth-child(2) img {
        object-fit: cover;
        object-position: top;
        height: 100%;
        margin-bottom: 20px;
    } */
    /* .short_group {
        display: flex;
        flex-direction: column;
        max-width: 26%;
        padding: 0 0 10px 0;

    }
    .short_group img {
        object-fit: cover;
        min-height: 84%;
    } */
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}