.product .product-description,
.product-container {
    *zoom: 1;
}

.product .product-description:after,
.product-container:after {
    content: '';
    display: table;
    clear: both;
}

.product-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.product {
    background: #fff;
    max-width: 49%;
    position: relative;
    z-index: 1;
    margin: 0;
    border-top: 1px #eee solid;
    /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
}

.outfit-img-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.outfit-image,
.item-lg,
.item-th {}

.outfit-image {}

.item-lg {}

.item-th {}

@media screen and (min-width: 800px) {}

@media screen and (min-width: 1024px) {
    .product-container {
        width: 100%;
        /* margin: 0 auto; */
        /* padding: 20px 0 20px 0; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }
    .product {
        background: #fff;
        max-width: 24.1%;
        position: relative;
        z-index: 1;
        margin: 0;
        border-top: 1px #eee solid;
        /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    }
}

@media screen and (min-width: 1280px) {
    .product-container {
        width: 100%;
        /* margin: 0 auto; */
        /* padding: 20px 0 20px 0; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
    }
    .product {
        background: #fff;
        max-width: 24.4%;
        position: relative;
        z-index: 1;
        margin: 0;
        border-top: 1px #eee solid;
        /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    }
}